<ul>
    <li><a href="http://localhost:3000/beginning">beginning</a></li>
    <li><a href="http://localhost:3000/middle">middle</a></li>
    <li><a href="http://localhost:3000/end">end</a></li>
</ul>
<hr>
<p>Once upon a time, there was a {{storyParts.animal}} named {{storyParts.name}}. He was only {{storyParts.age}} years old, but loved to travel.</p>

<br>
<ul>
    <li><a href="http://localhost:3000/middle">middle</a></li>
</ul>