<ul>
    <li><a href="http://localhost:3000/beginning">beginning</a></li>
    <li><a href="http://localhost:3000/middle">middle</a></li>
    <li><a href="http://localhost:3000/end">end</a></li>
</ul>
<hr>
<p>After a while, {{storyParts.name}} met a beautiful fox named {{storyPartEnd.foxWife}}. They fell deeply in love and lived in {{storyPartEnd.housing}}. They lived there happily ever after. The end.</p>

<br>
<ul>
    <li><a href="http://localhost:3000/middle">middle</a></li>
</ul>