<h1>{{title}}</h1>
<ul>
    <li><a href="http://localhost:3000/beginning">beginning</a></li>
    <li><a href="http://localhost:3000/middle">middle</a></li>
    <li><a href="http://localhost:3000/end">end</a></li>
</ul>
