<ul>
    <li><a href="http://localhost:3000/beginning">beginning</a></li>
    <li><a href="http://localhost:3000/middle">middle</a></li>
    <li><a href="http://localhost:3000/end">end</a></li>
</ul>
<hr>
<p>One day, {{storyParts.name}} decided to visit {{storyPartMiddle.place}}. So, he hopped on a {{storyPartMiddle.travelVehicle}} to get there. Once he got there, he decided to stay for at least {{storyPartMiddle.yearsToStay}} years.</p>
<br>
<ul>
    <li><a href="http://localhost:3000/beginning">beginning</a></li>
    <li><a href="http://localhost:3000/end">end</a></li>
</ul>